# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

**/.venv/
venv/
env/

# ==========================
# IDE
# ==========================

.idea/
.vscode/

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Database
# ==========================

*.db
*.sqlite3

# ==========================
# Secrets
# ==========================

.env
.env.*

# ==========================
# User data
# ==========================

storage/tokens/
storage/cache/

# ==========================
# Frontend
# ==========================

node_modules/
dist/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db